# Object files
*.o
*.ko
*.obj
*.elf
*.bc

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Temporary files
*~
copy_data.out

# Generated migration scripts
topn--*.sql
!update/topn--*.sql

# Sample data
customer_reviews_????.csv

# Build Artifacts
.deps/
data/customer_reviews_1998.csv
results/
sql/copy_data.sql
regression.out
regression.diffs
/*.sql
