sudo: required
git:
  lfs_skip_smudge: true
dist: trusty
language: c
branches:
  except: [ /^open-.*$/ ]
matrix:
  fast_finish: true
  include:
    - env: PGVERSION=9.6
    - env: PGVERSION=10
    - env: PGVERSION=11
    - env: PGVERSION=12
before_install:
  - bash test_data_provider
  - git clone -b v0.7.13 --depth 1 https://github.com/citusdata/tools.git
  - sudo make -C tools install
  - setup_apt
  - nuke_pg
install:
  - install_uncrustify
  - install_pg
  - install_custom_pg
before_script:
  - citus_indent --quiet --check
  - config_and_start_cluster
script: pg_travis_test
